extends ../templates/template
block menu 
    - pageActive = 'about'
    include ../includes/main-menu
block title 
    h1.title About
    .about
        .about__img.show 
            img(src="assets/img/about.jpg", alt="about image 1")
        .about__text.show
            h2 Title 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium numquam dolore, delectus animi eius perspiciatis magnam laboriosam, quidem ducimus nostrum necessitatibus quaerat! Suscipit, enim impedit iure accusantium exercitationem voluptatum.
        .about__img
            img(src="assets/img/about2.jpg", alt="about image 2")
        .about__text 
            h2 Title 2
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere praesentium numquam dolore, delectus animi eius perspiciatis magnam laboriosam, quidem ducimus nostrum necessitatibus quaerat! Suscipit, enim impedit iure accusantium exercitationem voluptatum.
    .controls 
        i.fas.fa-chevron-circle-left#prev
        i.fas.fa-chevron-circle-right#next
        