.contact{
    background-color: $dark-color;
    position: relative;
    height: 120vh;
    text-align: center;
    
    @include laptod {
        height: calc(100vh - 250px);
    }
    &__map{
        width: 100%;
        text-align: center;
        @include laptod {
            width: 50%;
            margin: 0 auto 2rem;
        }
        & iframe{
            width: 320px;
            height: 300px;
            margin-top: 2rem;
            @include laptod{
                width: 400px;
                height: 150px;
            }
        }
    }
}