.contact{
    background-color: $dark-color;
    position: relative;
    height: 100vh;
    text-align: center;
    
    @include laptod {
        height: calc(100vh - 250px);
        &__img-map{
            display: none;
            
        }
    }
    &__map{
        width: 100%;
        text-align: center;
        @include laptod {
            width: 50%;
            margin: 0 auto 2rem;
        }
        & iframe{
            display: none;
            @include laptod{
                width: 500px;
                height: 150px;
                margin: 1.5rem auto;
                display: block;
            }
        }
    }
    &__img-map{
        width: 320;
        margin-top: 2rem;
    }
}